@import "tailwindcss";

/* Custom styles for better appearance */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

*
{
    -webkit-user-select: none;
    user-select: none;
}

html, body
{
    height: 90%;
}

body
{
    margin: 0;
    background-color: #1e3a8a;
}

html.dark body
{
    background-color: #1e3a8a;
}

/* Toggle checkbox removed, using label.checked instead */

